body{
   background-image:url("../image/tmnt/background.png");
   font-size: 8pt;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
head{
    background-image: url("../image/tmnt/bannerbg.png");
    background-repeat: repeat-x;
    align-content: center;
    height: 50px;
}
p{
   text-indent: 50px;   
}
.main-heading{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px #999999;
    
}
.main-container{
    width: 800px;
    align-content: center;
    border: 4px solid gray;
    border-radius: 20px;
}
.validation-icon{

    text-align: left;
}
