body{
    background-color: darkolivegreen;
    margin:60px 200px;
}
.inner-div{
    display: flex;
   
    margin: auto;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    size: 14pt;
    font-weight: bold;
}
fieldset{
    border: 1px solid darksalmon;
    width: fit-content;
    max-width: max-content;
    height: 300px;
}
#img-con{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    padding: 0px 10px 30px 30px;
}
#p-con{
    font-size: 50px;
    font-weight: bolder;
    color: darksalmon;
    display: inline;
    float: right;

}
button{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: darksalmon;
}

.content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-weight: bold;
}
#spanarea{
    font-size: 20pt;
}