body{
    margin: 10px;
    font-family: sans-serif;
    background-color:rgba(70, 73, 38, 0.849);
}
p, li,ol{
    font-family: sans-serif;
    color: whitesmoke;
    text-align: justify;
}

ol{
    list-style-type: decimal;
}
hr{
    size: 10px;
    width: 100%;
    color: wheat;
}
.image-container{
    width: 250px;
    border-radius: 150px;
    float: left;
    align-content: space-between;
    margin-right: 10px;
    padding: 40px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 38px;
    background:darksalmon;
}

.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
   color: #8a8a8a;
   text-decoration: none;
   transition: color 0.5s;
}
.nav-link-wrapper :hover{
    border-bottom: 1px solid black;  
}
.nav-link-wrapper a :hover{
    color: black;  
}
.footer{
    background: darksalmon;
    height: 150px;
}
.heading-about{
    color: rgb(131, 151, 218);
}
.img-wrapper-big{
    height: 400px;
}
.img-wrapper{
    display: flex;
    justify-content: space-between;
    margin-right: 400px;
    padding: 38px;
}

.left-img{
    
    width: 200px;
    height: 250px;
    float: left;
   
}
.right-img{
    
    width: 350px;
    height: 250px;
}
.link-identifer{
    color: red;
}
.p-italic-id{
    font-style: italic;
}
strong{
    color: yellow;
}
